.home-page-nav {
    padding-top: 30px;
}

.home-page-nav>.container>.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    font-family: 'Lora', serif;
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
}

.home-page-nav>.container>.navbar-default .navbar-nav>li>a:hover {
    background: rgba(0, 76, 117, 0.45);
}

.home-page-nav>.container>.navbar-default .navbar-nav>li>a:focus {
    background: rgba(0, 76, 117, 0.45);
}

.home-page-nav>.container>.navbar-default .navbar-nav>li>a:active {
    background: rgba(0, 76, 117, 0.45);
}

.logo-wight {
    width: 231px;
}

.navbar-right {
    margin-top: 15px;
}

.message-email-home {
    padding: 0px 20px 0 0;
    position: relative;
    color: #005a8b;
}

.message-email-home:hover {
    color: #000;
}

.lang {
    color: #005a8b;
}

.home-page-nav {
    background: #E6E6FA;
    padding-bottom: 380px;
}

@media screen and (max-width: 992px) {
    .home-page-nav {
        padding-bottom: 0;
    }
}

.hgroup .h1,
.h2 {
    color: #005a8b;
}

.hgroup .h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 60p;
    padding-top: 0;
    margin-top: 0;
}

.hgroup .h2 {
    font-size: 22px;
    color: #005a8b;
    padding: 15px 0 30px;
    margin: 0;
}

.home-page-nav .search-home-big {
    font-size: 18px;
    color: #797979;
    padding: 35px 0 35px 25px;
    border: none;
    border-radius: 10px;
}

.inpt-search-home>.input-group-btn>.btn-primary {
    background: #00EC98;
    width: 74px;
    height: 70px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}

#searck-btn {
    width: 37px;
    height: 37px;
    fill: #94d31b;
}

.dis2 {
    background: #F0F4F7;
    padding-bottom: 100px;
}

@media screen and (max-width: 992px) {
    .dis2 {
        padding-bottom: 0;
    }
}

.item-nav {
    background: #fff;
    border-radius: 10px;
    height: 263px;
    position: relative;
    box-shadow: 0px 0px 59px 0px rgba(141, 141, 141, 0.16);
    margin-bottom: 30px;
}

.item-nav>.img-icon-nav {
    height: 116px;
    padding-top: 35px;
    margin: 0 auto;
    display: block;
}

.item-nav>.btn-link {
    text-decoration: none;
    color: #404040;
    font-weight: 700;
    display: block;
    font-size: 24px;
    margin-top: 22px;
}

.item-block-1 {
    margin-top: -80px;
}

.item-block-2 {
    margin-top: -160px;
}

.item-block-3 {
    margin-top: -240px;
}

.item-block-4 {
    margin-top: -320px;
}

@media screen and (max-width: 992px) {
    .item-block-1,
    .item-block-2,
    .item-block-3,
    .item-block-4 {
        margin: 50px 0;
    }
}


/*
.item-block-5 {
	margin-top: -80px;
}
.item-block-6 {
	margin-top: -160px;
}
.item-block-7 {
	margin-top: -240px;
}
.item-block-8 {
	margin-top: -320px;
}*/

.tabs-air {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.about {
    background: #F0F4F7;
    padding-bottom: 100px;
}

.about>.container>.row>.col-md-4>.h3 {
    color: #005a8b;
    font-size: 57px;
    font-weight: 700;
    padding-top: 25px;
}

.text-about {
    color: #797979;
    font-size: 16px;
    line-height: 30px;
}

.footer-new {
    height: 50px;
    background: #333333;
}

.footer-copy {
    display: block;
    color: #fff;
    padding: 15px 0;
}

.title-page {
    color: #000;
    font-family: 'Playfair Display', serif;
}

.uppercase {
    text-transform: uppercase;
}

.content-search-travel {
    padding: 20px 0 0 0;
}

.add-route {
    float: right;
}

.icon-arrow {
    position: absolute;
    right: -7px;
    top: 35px;
}

label {
    cursor: pointer;
}

.dynamic-content {
    padding-bottom: 0;
}

.maps {
    height: 400px;
    width: 100%;
}

.title-big {
    font-family: 'Lora', serif;
    color: #404040;
    font-size: 57px;
    font-weight: 700;
}

.lists-one-route {
    clear: both;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.4);
}

.dis1 {
    margin-bottom: 50px;
}

.hgroup {
    margin: 20px 0;
}

.weather {
    float: right;
    margin: 20px auto;
}

@media screen and (max-width: 1200px) {
    .weather {
        float: none;
    }
}

@media screen and (max-width: 1200px) {
    .home-page-nav>.container>.navbar-default .navbar-nav>li>a {
        padding: 0.7em;
    }
}

.footer-empty {
    padding-bottom: 80px;
}